<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nakirunak CRM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>

    <title>Nakirunak CRM</title>
</head>
<body>

<nav aria-label="Navigation bar" th:replace="layouts :: navbar"></nav>

<div class="container my-2">
    <h1>Кліенты</h1>

    <table aria-label="List of all customers" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Нумар</th>
            <th scope="col">Імя</th>
            <th scope="col">Прозвішча</th>
            <th scope="col">Імя па бацьку</th>
            <th scope="col">Тэлефон</th>
            <th scope="col">Email</th>
            <th scope="col">
                <div class="parent position-relative">
                    <button class="btn btn-success btn-sm position-absolute top-0 end-0" data-bs-target="#addModal"
                            data-bs-toggle="modal" type="button">Дадаць
                    </button>
                </div>
                Дзеянні
            </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerPage.content}">
            <td th:text="${customer.getId()}">id</td>
            <td th:text="${customer.getName()}">name</td>
            <td th:text="${customer.getLastName()}">lastName</td>
            <td th:text="${customer.getPatronymic()}">patronymic</td>
            <td th:text="${customer.getPhoneNumber()}">phone</td>
            <td th:text="${customer.getEmail()}">email</td>

            <td>
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#modalUpdate'+${customer.id}"
                        type="button">Рэдагаваць
                </button>

                <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete'+${customer.id}"
                        type="button">Выдаліць
                </button>

                <div aria-hidden="true" aria-labelledby="modalUpdate" class="modal fade text-body"
                     tabindex="-1" th:attr="id='modalUpdate'+${customer.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Рэдагаваць кліента</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/customers/edit}" th:attr="id=${customer.id}"
                                      th:method="PATCH" modelAttribute="orderDto" th:object="${customer}">
                                    <div class="mb-3">
                                        <input class="form-control" id="id" name="id" th:value="*{id}" type="hidden">

                                        <label class="form-label" for="name">Імя: </label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               th:value="*{name}">
                                        <br>

                                        <label class="form-label" for="lastName">Прозвішча: </label>
                                        <input type="text" class="form-control" id="lastName" name="lastName"
                                               th:value="*{lastName}">
                                        <br>

                                        <label class="form-label" for="patronymic">Імя па бацьку: </label>
                                        <input type="text" class="form-control" id="patronymic" name="patronymic"
                                               th:value="*{patronymic}">
                                        <br>

                                        <label class="form-label" for="phoneNumber">Тэлефон: </label>
                                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                                               th:value="*{phoneNumber}">
                                        <br>

                                        <label class="form-label" for="email">Email: </label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               th:value="*{email}">
                                        <br>

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close
                                        </button>
                                        <button class="btn btn-success" type="submit">Абнавіць кліента</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade text-body" th:attr="id='modalDelete'+${customer.id}" tabindex="-1"
                     aria-labelledby="modalDelete" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal">Увага</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form class="form-horizontal"
                                      th:action="@{/delete/{id}(id=${customer.id})}" th:method="DELETE">
                                    <input id="id" name="id" type="hidden" th:value="${customer.id}"/>
                                    <div class="form-group">
                                        <div class="text-nowrap bd-highlight">
                                            <p
                                                    th:text="'Выдаліць кліента' + ' ' + ${customer.id} + ' ' + '?'"></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць
                                        </button>
                                        <button type="submit" class="btn btn-danger">Выдаліць кліента</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>


    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Новы Кліент</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/customers}" th:object="${customer}" id="">
                        <div class="mb-3">
                            <label class="form-label" for="name">Імя: </label>
                            <input type="text" class="form-control" id="name" name="name"
                                   th:value="*{name}">
                            <br>

                            <label class="form-label" for="lastName">Прозвішча: </label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   th:value="*{lastName}">
                            <br>

                            <label class="form-label" for="patronymic">Імя па бацьку: </label>
                            <input type="text" class="form-control" id="patronymic" name="patronymic"
                                   th:value="*{patronymic}">
                            <br>

                            <label class="form-label" for="phoneNumber">Тэлефон: </label>
                            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                                   th:value="*{phoneNumber}">
                            <br>

                            <label class="form-label" for="email">Email: </label>
                            <input type="email" class="form-control" id="email" name="email"
                                   th:value="*{email}">
                            <br>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
            <li class="page-item" th:classappend="${!customerPage.hasPrevious()? 'disabled' : ''}">
                <a class="page-link" th:href="@{/customers(size=${customerPage.size}, page=${currentPage - 1})}"
                   tabindex="-1">Previous</a>
            </li>

            <th:block th:each="number : ${pageNumbers}">
                <li class="page-item" th:classappend="${number == currentPage? 'active' : ''}">
                    <a class="page-link" th:href="@{/customers(size=${customerPage.size}, page=${number})}"
                       th:text="${number}"></a>
                </li>

            </th:block>

            <li class="page-item" th:classappend="${!customerPage.hasNext()? 'disabled' : ''}">
                <a class="page-link" th:href="@{/customers(size=${customerPage.size}, page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>
</html>