<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nakirunak CRM</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script crossorigin="anonymous"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Nakirunak CRM</title>
</head>
<body>

<nav aria-label="Navigation bar" th:replace="layouts :: navbar"></nav>

<div class="container my-2">

    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1>Замовы</h1>
            </div>
            <div class="col-1">
                <button class="btn btn-success btn-sm" data-bs-target="#addModal"
                        data-bs-toggle="modal" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                        <line x1="9" y1="12" x2="15" y2="12"></line>
                        <line x1="12" y1="9" x2="12" y2="15"></line>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <table aria-label="List of all orders" border="1" class="table table-striped table-responsive-lg">
        <thead>
        <tr>
            <th scope="col">Нумар</th>
            <th scope="col">Дата і час</th>
            <th scope="col">Замоўнік</th>
            <th scope="col">Тэлефон</th>
            <th scope="col">Накірунак</th>
            <th scope="col">Статус замовы</th>
            <th scope="col">Каментар ад замоўніка</th>
            <th scope="col">Каментар</th>
            <th scope="col">
                Дзеянні
            </th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="orderDto : ${orderDtoPage.content}">
            <td th:text="${orderDto.getPublicId()}">id</td>
            <td th:text="${#temporals.format(orderDto.getTimestamp(), 'dd.MM.yyyy HH:mm')}">timestamp</td>
            <td th:text="${orderDto.getCustomerLastName()  + ' ' + orderDto.getCustomerName() + ' ' + orderDto.getCustomerPatronymic()}">
                customer
            </td>
            <td th:text="${orderDto.getCustomerPhoneNumber()}">phone</td>
            <td th:text="${orderDto.getDestinationName()}">destination</td>
            <td th:text="${orderDto.getOrderStatusName()}">status</td>
            <td th:text="${orderDto.getCustomerComment()}">customerComment</td>
            <td th:text="${orderDto.getComment()}">comment</td>
            <td>

                <div class="btn-group" role="group" aria-label="Actions buttons">
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#modalUpdate'+${orderDto.id}"
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                        </svg>
                    </button>

                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete'+${orderDto.id}"
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="4" y1="7" x2="20" y2="7"></line>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>

                    </button>
                </div>

                <div aria-hidden="true" aria-labelledby="modalUpdate" class="modal fade text-body"
                     tabindex="-1" th:attr="id='modalUpdate'+${orderDto.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Рэдагаваць замову</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/orders/edit}" th:attr="id=${orderDto.id}"
                                      th:method="PATCH" modelAttribute="orderDto" th:object="${orderDto}">
                                    <div class="mb-3">
                                        <input class="form-control" id="id" name="id" th:value="*{id}" type="hidden">
                                        <input class="form-control" id="publicId" name="publicId" th:value="*{publicId}" type="hidden">

                                        <label class="form-label" for="orderStatusId">Статус: </label>
                                        <select class="form-select" id="orderStatusId" th:field="*{orderStatusId}">
                                            <option selected th:if="*{orderStatusId} == null" value="">Абярыце статус
                                            </option>
                                            <option selected th:unless="*{orderStatusId} == null"
                                                    th:utext="*{orderStatusName}"
                                                    th:value="*{orderStatusId}"></option>
                                            <option th:each="status : ${orderStatuses}"
                                                    th:if="${status.getId()} == *{orderStatusId}"
                                                    th:utext="--current--"
                                                    th:value="${status.getId()}"></option>
                                            <option th:each="status : ${orderStatuses}"
                                                    th:unless="${status.getId()} == *{orderStatusId}"
                                                    th:utext="${status.getName()}"
                                                    th:value="${status.getId()}"></option>
                                        </select>
                                        <br>

                                        <label class="form-label" for="timestamp">Дата і час:</label>
                                        <input class="form-control" id="timestamp" name="timestamp"
                                               th:attr="id='timestamp'+${orderDto.id}" th:value="*{timestamp}"
                                               type="datetime-local"/>
                                        <br>

                                        <label class="form-label" for="customerId">Замоўнік: </label>
                                        <select class="form-select" id="customerId" th:field="*{customerId}">
                                            <option selected th:if="*{customerId} == null" value="">Абярыце
                                                замоўніка для Замовы
                                            </option>
                                            <option selected th:unless="*{customerId} == null"
                                                    th:utext="*{customerLastName}  + ' ' + *{customerName} + ' ' + *{customerPatronymic} + ' ; ' + *{customerPhoneNumber}"
                                                    th:value="*{customerId}"></option>
                                            <option th:each="customer : ${customers}"
                                                    th:if="${customer.getId()} == *{customerId}"
                                                    th:utext="--current--"
                                                    th:value="${customer.getId()}"></option>
                                            <option th:each="customer : ${customers}"
                                                    th:unless="${customer.getId()} == *{customerId}"
                                                    th:utext="${customer.getLastName()}  + ' ' + ${customer.getName()} + ' '
                                            + ${customer.getPatronymic()} + ' ; ' + ${customer.getPhoneNumber()}"
                                                    th:value="${customer.getId()}"></option>
                                        </select>
                                        <br>

                                        <label class="form-label" for="destinationId">Накірунак: </label>
                                        <select class="form-select" id="destinationId" th:field="*{destinationId}">
                                            <option selected th:if="*{destinationId} == null" value="">Абярыце накірунак
                                            </option>
                                            <option selected th:unless="*{destinationId} == null"
                                                    th:utext="*{destinationName}"
                                                    th:value="*{destinationId}"></option>
                                            <option th:each="destination : ${destinations}"
                                                    th:if="${destination.getId()} == *{destinationId}"
                                                    th:utext="--current--"
                                                    th:value="${destination.getId()}"></option>
                                            <option th:each="destination : ${destinations}"
                                                    th:unless="${destination.getId()} == *{destinationId}"
                                                    th:utext="${destination.getName()}"
                                                    th:value="${destination.getId()}"></option>
                                        </select>
                                        <br>

                                        <label class="form-label" for="customerComment">Каментар замоўніка:</label>
                                        <textarea type="text" class="form-control" id="customerComment" rows="3" name="customerComment"
                                                  th:value="*{customerComment}"
                                                  th:text="*{customerComment}"></textarea>
                                        <br>

                                        <label class="form-label" for="comment">Каментар:</label>
                                        <textarea type="text" class="form-control" id="comment" rows="3" name="comment"
                                               th:value="*{comment}"
                                               th:text="*{comment}"></textarea>

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close
                                        </button>
                                        <button class="btn btn-success" type="submit">Update lesson</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                                <div class="modal fade text-body" th:attr="id='modalDelete'+${orderDto.id}" tabindex="-1"
                                     aria-labelledby="modalDelete" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModal">Увага</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form class="form-horizontal"
                                                      th:action="@{/orders/delete/{id}(id=${orderDto.id})}" th:method="DELETE">
                                                    <input id="id" name="id" type="hidden" th:value="${orderDto.id}"/>
                                                    <div class="form-group">
                                                        <div class="text-nowrap bd-highlight">
                                                            <p
                                                                    th:text="'Выдаліць замову' + ' ' + ${orderDto.publicId} + ' ' + '?'"></p>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Выдаліць замову</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Новая Замова</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/orders}" th:object="${orderDto}" id="">
                        <div class="mb-3">
                            <label class="form-label" for="orderStatusId">Статус: </label>
                            <select class="form-select" id="orderStatusId" th:field="*{orderStatusId}">
                                <option value="" selected>Абярыце статус</option>
                                <option th:each="status : ${orderStatuses}"
                                        th:utext="${status.getName()}"
                                        th:value="${status.getId()}"></option>

                            </select>
                            <br>

                            <label class="form-label" for="timestamp">Дата і час:</label>
                            <input class="form-control" id="timestamp" name="timestamp"
                                   th:attr="id='timestamp'+${orderDto.id}" th:value="*{timestamp}"
                                   type="datetime-local"/>
                            <br>

                            <label class="form-label" for="customerId">Замоўнік: </label>
                            <select class="form-select" id="customerId" th:field="*{customerId}">
                                <option selected th:if="*{customerId} == null" value="">Абярыце
                                    замоўніка для Замовы
                                </option>
                                <option selected th:unless="*{customerId} == null"
                                        th:utext="*{customerLastName}  + ' ' + *{customerName} + ' ' + *{customerPatronymic} + ' ; ' + *{customerPhoneNumber}"
                                        th:value="*{customerId}"></option>
                                <option th:each="customer : ${customers}"
                                        th:if="${customer.getId()} == *{customerId}"
                                        th:utext="--current--"
                                        th:value="${customer.getId()}"></option>
                                <option th:each="customer : ${customers}"
                                        th:unless="${customer.getId()} == *{customerId}"
                                        th:utext="${customer.getLastName()}  + ' ' + ${customer.getName()} + ' '
                                            + ${customer.getPatronymic()} + ' ; ' + ${customer.getPhoneNumber()}"
                                        th:value="${customer.getId()}"></option>
                            </select>
                            <br>

                            <label class="form-label" for="destinationId">Накірунак: </label>
                            <select class="form-select" id="destinationId" th:field="*{destinationId}">
                                <option selected th:if="*{destinationId} == null" value="">Абярыце накірунак
                                </option>
                                <option selected th:unless="*{destinationId} == null"
                                        th:utext="*{destinationName}"
                                        th:value="*{destinationId}"></option>
                                <option th:each="destination : ${destinations}"
                                        th:if="${destination.getId()} == *{destinationId}"
                                        th:utext="--current--"
                                        th:value="${destination.getId()}"></option>
                                <option th:each="destination : ${destinations}"
                                        th:unless="${destination.getId()} == *{destinationId}"
                                        th:utext="${destination.getName()}"
                                        th:value="${destination.getId()}"></option>
                            </select>
                            <br>

                            <label class="form-label" for="customerComment">Каментар замоўніка:</label>
                            <textarea class="form-control" id="customerComment" rows="3" name="customerComment"></textarea>
                            <br>

                            <label class="form-label" for="comment">Каментар:</label>
                            <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
            <li class="page-item" th:classappend="${!orderDtoPage.hasPrevious()? 'disabled' : ''}">
                <a class="page-link" tabindex="-1"
                   th:href="@{/orders(size=${orderDtoPage.size}, page=${currentPage - 1})}">Previous</a>
            </li>

            <th:block th:each="number : ${pageNumbers}">
                <li class="page-item" th:classappend="${number == currentPage? 'active' : ''}">
                    <a class="page-link" th:href="@{/orders(size=${orderDtoPage.size}, page=${number})}"
                       th:text="${number}"></a>
                </li>

            </th:block>

            <li class="page-item" th:classappend="${!orderDtoPage.hasNext()? 'disabled' : ''}">
                <a class="page-link" th:href="@{/orders(size=${orderDtoPage.size}, page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>

</div>



</body>
</html>